* {
  box-sizing: border-box;
  padding:0;
  margin:0;

}
body {
  background-color: rgb(68, 68, 68);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
}

table {
  max-width: 1300px;
  overflow: hidden;
  border-collapse: collapse;
  text-align: center; 
  border-radius: 10px;
  margin: 80px auto; 
}

td {
  padding: 1.2em 1em;
}

thead {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}

div {
  font-size: 2em;
  padding-top: 1em;
}

tr td:nth-child(n+2) {
  max-width:250px;
  min-width: 2px;
  width: calc(100%/6);
  max-height: 120px;
  min-height: 3px;
  height: calc(100%/4);
}

thead td:nth-child(1) {
  background-color: #7887ab;
}

thead td:nth-child(2) {
  background-color: #4f628e;
}

thead td:nth-child(3) {
  background-color: #2e4172;
}

thead td:nth-child(4) {
  background-color: #162955;
}

thead td:nth-child(5) {
  background-color: #061539;
}

tbody tr td:nth-child(1) {
  max-width:300px;
  min-width: 4px;
  width: calc(100%/4);
  text-align: left;
  padding: 1em 2em;
}

tbody tr:nth-child(odd) {
  background-color: #dbdbdb;
}

tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

tbody tr:nth-child(odd) td:nth-child(even), tbody tr:nth-child(even) td:nth-child(odd) {
  background-color: #e7e7e7;
}

a {
  border: darkgray 1px solid;
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
  padding: 0.5em 1em;
  background-color: #dbdbdb;
}

a:hover {
  background-color: #868686;
  color: #fff;
}